$darkgrey: #363636;
$meddarkgrey: #7e7d7d;
$medgrey: #868585;
$lightgrey: #efefef;
$peachy: #fe8869;
$white: #ffffff;
$black: #000000;

$rale:'Raleway', sans-serif;
$mont: 'Monserrat', sans-serif;

$bold: 700;
$exbold: 800;